{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>New Post</h1>

<form action="/newpost", method='POST'> 

    <div class="form-group ">
        <label for="title">Title</label>
        <input class="form-control" name="blog_title" type="text" value="{{ blog_title }}"/>
        <span class="error">{{title_error}}</span>
    </div>
    <!-- deleted value in input above-->
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="blog_body" type="text" value="{{ blog_body }}"></textarea>
        <span class="error">{{body_error}}</span>
    </div>
    <!-- deleted value in input above-->
    <input type="submit" value="Add Post" class="btn btn-default"/>

</form>


{% endblock %}